.FinishedQuiz{
    button{
        width: 200px;
        height: 30px;
        margin: 0 auto;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            background-color: rgb(199, 199, 199);
            color: #000;
        }
    }
}
.success{
    color: rgb(16, 241, 16);
}

.error{
    color: red;
}

