.container{
  width: 1100px;
  margin: 0 auto;
}
.accardion {
  transition: all 500ms ease;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  height: 365px;
  background-color: #373737;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 2px #000;
}
.accardion__item{
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: #1c1c1c;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  height: 100%;
}

.accardion__item:last-child{
  border-width: 6px;
}
.accardion__item-title{
  padding-bottom: 20px;
  cursor: pointer;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: #989898;
  align-items: center;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}

.accardion__item:hover{
  background-color: #464646;
}
.accardion__item-content{
  border: 6px solid #1c1c1c;
  border-radius: 5px;
  margin-top: 2px;
}

.accardion__item-content img{
  object-fit: cover;
}


.accardion__item span{
  color: #1c1c1c;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 14px;
}

.btn {
  cursor: pointer;
  color: #c2c2c2;
  border: none;
  height: 30px;
  border-radius: 5px;

}
.btn-accardion{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  background-color: #464646;
}
